<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kai Po Che - Proactive Disaster Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet/less" type="text/css" href="/styles/main.less"/>
    <script src="bower_components/less/dist/less.min.js" type="text/javascript"></script>
  </head>
  <body>

    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/#/home" class="brand-logo">KaiPoChe</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#/signin">Sign In</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#/signin">Sign In</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>

    <div id="content"></div>

    <footer class="page-footer teal">
      <div class="footer-copyright">
        <div class="container">
        Made by the Kai Po Che team for <a href="http://www.venturesity.com/hack-for-nepal.html"> Hack for Nepal</a> Hackathon on Saturday, May 30th 2015.
        </div>
      </div>
    </footer>



    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="/bower_components/js-signals/dist/signals.min.js"></script>
    <script type="text/javascript" src="/bower_components/hasher/dist/js/hasher.min.js"></script>
    <script type="text/javascript" src="/bower_components/crossroads.js/dist/crossroads.min.js"></script>
    <script type="text/javascript" src="/bower_components/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>

    <script id="404-template"type="text-template">
      <h1>404</h1>
    </script>

    <script id="home-template" type="text-template">

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center">Proactive Disaster Recovery</h1>
            <div class="row center">
              <h5 class="header col s12 light">
                The right place to protect you and your family.
              </h5>
            </div>
            <div class="row center">
              <a href="/#/signup"
                id="download-button"
                class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>
            </div>
            <br><br>

          </div>
        </div>
        <div class="parallax"><img src="/kites-blue.jpg" alt="Unsplashed background img 2"></div>
      </div>


      <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="mdi-social-person-outline"></i></h2>
                <h5 class="center">Create your profile</h5>

                <p class="light">
                  Give us basic, medical and location information so that we know how to help in case of disaster.
                  <a href="/#/signup">Create your profile now!</a>
                </p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="mdi-notification-vibration"></i></h2>
                <h5 class="center">Stay informed</h5>

                <p class="light">In case of disaster we will notify you through SMS of information and risks specific to you and your area.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="mdi-social-group-add"></i></h2>
                <h5 class="center">Spread the word</h5>

                <p class="light">Let us know of risks and events in your area so we can help you and others.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </script>

    <script id="signin-template" type="text-template">
      <div class="container">
        <h2 class="header">Sign In</h2>
       <form class="col s12 clearfix">
          <div class="row">
            <div class="input-field col s12">
              <input id="UserName" type="text" class="validate">
              <label for="UserName">User Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">password</label>
            </div>
          </div>
         
          <a href="/#/profile" class="btn waves-effect waves-light right" type="submit" name="action">Submit
             <i class="mdi-content-send right"></i>
          </a>
         
        </form>
      </div>
     </script>

    <script id="signup-template" type="text-template">

      <div class="container">
        <h2 class="header">Sign Up</h2>
        <form class="col s12 clearfix">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="text" class="validate">
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="phone" type="text" class="validate">
              <label for="phone">Phone Number</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>


          <a href="/#/profile" class="btn waves-effect waves-light right" type="submit" name="action">Submit
            <i class="mdi-content-send right"></i>
          </a>
        </form>
      </div>
    </script>

    <script id="profile-template" type="text-template">      
        <div class="container">
          <h2>Your Profile</h2>
          <form class="col s12 clearfix">

            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" value='<%= firstName%>'>
                <label class="active" for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" value='<%= lastName%>'>
                <label class="active" for="last_name">Last Name</label>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="text" class="validate" value='<%= email%>'>
                <label class="active" for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="phone" type="text" class="validate" value='<%= phone%>'>
                <label class="active" for="phone">Phone Number</label>
              </div>
              <div class="input-field col s6">
                <input id="place" type="text" class="validate" value='<%= place%>'>
                <label class="active" for="place">Place</label>
              </div>
            </div>

          <div class="row">
              <div class="input-field col s6">
                <input id="area" type="text" class="validate" value='<%= area%>'>
                <label class="active" for="area">area</label>
              </div>
               <div class="input-field col s6">
                <input id="pinCode" type="text" class="validate" value='<%= pinCode%>'>
                <label class="active" for="pinCode">Pin Code</label>
              </div>
          </div>

        <div class = "row">

         
          <div>
            
              <div class="input-field col s1">
                <label>Gender</label>
              </div>  
               <div class="input-field col s4">
                  <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option <%= gender=='Female'?'selected':''%> value="Female">Female</option>
                    <option <%= gender=='Male'?'selected':''%> value="Male">Male</option>
                  </select>
              </div>  
              </div>
        
  
          <div>
            <div class="input-field col s1">
              <label>Country</label>
            </div>  
             <div class="input-field col s4">
                <select class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                  <option <%= country=='Nepal'?'selected':''%> value="2">Nepal</option>
                  <option <%= country=='India'?'selected':''%> value="1">India</option>
                  <option <%= country=='France'?'selected':''%> value="2">France</option>
                </select>
            </div>  
          </div>
      </div>

  <div class = "row">

         
          <div>
            
              <div class="input-field col s1">
                <label>State</label>
              </div>  
               <div class="input-field col s4">
                  <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option <%= state=='Karnataka'?'selected':''%> value="1">Karnataka</option>
                  </select>
              </div>  
              </div>
          
  
          <div>
            <div class="input-field col s1">
              <label>Blood Group</label>
            </div>  
             <div class="input-field col s4">
                <select class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                  <option <%= bloodGroup=='A +Ve'?'selected':''%> value="1">A +Ve</option>
                  <option <%= bloodGroup=='B +Ve'?'selected':''%> value="2">B +Ve</option>
                  <option <%= bloodGroup=='AB +Ve'?'selected':''%> value="3">AB +Ve</option>
                  <option <%= bloodGroup=='O +Ve'?'selected':''%> value="4">O +Ve</option>
                  <option <%= bloodGroup=='A -Ve'?'selected':''%> value="5">A -Ve</option>
                  <option <%= bloodGroup=='B -Ve'?'selected':''%> value="6">B -Ve</option>
                  <option <%= bloodGroup=='O -Ve'?'selected':''%> value="7">O -Ve</option>
                  <option <%= bloodGroup=='AB -Ve'?'selected':''%> value="8">AB -Ve</option>
                </select>
            </div>  
          </div>
      </div>

          <div class="row">
              <div class="input-field col s12">
                <input id="dob" type="text" class="validate" value='<%= dob%>'>
                <label class="active" for="dob">DOB</label>
              </div>
              
              <div class="input-field col s12">
                <input id="ngo" type="text" class="validate" value='<%= ngo%>'>
                <label class="active" for="navigation">NGO</label>
              </div>
          </div>

        <div class="row">
        <h5>Emergency Contacts</h5>
        </div>
        <% _.forEach(emergencyContacts, function(contact) { %>
            
          <div class="row">
              <div class="input-field col s4">
                <input id="email" type="text" class="validate" value='<%=contact.email%>'>
                <label class="active" for="email">Email</label>
              </div>
              <div class="input-field col s4">
                <input id="name" type="text" class="validate" value='<%=contact.name%>'>
                <label class="active" for="name">Name</label>
              </div>
              <div class="input-field col s4">
                <input id="phone" type="text" class="validate" value='<%=contact.phone%>'>
                <label class="active" for="phone">Phone</label>
              </div>

               
          </div>

          <% }); %>

        </div>
        </form>
      </div>
    </script>
  </body>
</html>
